<h1>お友だちつながり投稿一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.image %></td>
    <td><%= picture.content %></td>
    <td><%= link_to '詳細を確認する', picture_path(picture.id) %></td>
  </tr>
<% end %>
</table>


<%= link_to '新しく投稿をする', new_picture_path %>
